Repository talgatomarov/motiongenerator: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, model

Create test
  backend/test
Due: backend

Delete test
  backend/test
Due: backend

Create t
  model/t
Due: model

Remove codecov check only on push
  .github/workflows/backend_test.yml
  .github/workflows/frontend_test.yml
  .github/workflows/model_test.yml
Due: none

Add --cov option
  .github/workflows/frontend_test.yml
Due: none

Create testing_codecov
  model/testing_codecov
Due: model

Delete testing_codecov
  model/testing_codecov
Due: model

Create testing_codecov
  backend/testing_codecov
Due: backend

Delete testing_codecov
  backend/testing_codecov
Due: backend

Add github link
  frontend/src/components/Template/Footer.js
Due: frontend

Change text font in helper block
  frontend/src/components/Home/Helper.js
Due: frontend

Remove temperature upper bound
  backend/routers/generate/models.py
Due: backend

Change temperature upper bound to 1.5
  frontend/src/components/Home/MotionForm/index.js
Due: frontend

Removed spacing between modal elements
  frontend/src/components/Home/MotionForm/index.js
Due: frontend

Add clarification to nlm text
  frontend/src/components/Home/index.js
Due: frontend

Add logo asset
  assets/logo.png
Due: none

Add correct logo
  assets/logo.png
  frontend/public/logo192.png
  frontend/public/logo512.png
Due: frontend

Delete logo.png
  assets/logo.png
Due: none

Add motiongenerator logo
  assets/logo.png
Due: none

Rename logo asset
  assets/motiongenerator.png
Due: none

Update README.md
  README.md
Due: none

Added description
  README.md
Due: none

Make logo image smaller
  README.md
Due: none

Add link to the website
  README.md
Due: none

Change to https
  README.md
Due: none

Add natural language model description
  README.md
Due: none

Add app architecture description
  README.md
Due: none

Remove trailing space in the request motion text
  backend/routers/generate/router.py
Due: backend

Add model_training.png
  assets/model_training.png
Due: none

Delete model_training.png
  assets/model_training.png
Due: none

Reupload model_training.png
  assets/model_training.png
Due: none

Add Model Training section
  README.md
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
  model: any of: model/
